.aboutContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  
  .left {
    width: 50%;
    background: var(--pink-500);
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    .second-image {
      width: 70%;
      height: calc(100vh - 100px);
      border-radius: 0 0 50% 50%;
      background: url("/about.jpg") no-repeat top center/cover;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
      -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
      box-shadow: 0px 0px 10px 0px rgba(37, 29, 29, 0.15);
    }
  }
  
  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 120px;
    color: var(--pink-500);
    h2 {
      font-size: 50px;
    }
    span {
      text-align: justify;
      font-size: 18px;
    }
    span.information {
      font-size: 22px;
    }
    span.description {
      padding-top: 35px;
    }
  
    .buttons {
      margin-top: 30px;
      display: flex;
  
      a {
        svg {
          height: 30px;
          width: 30px;
        }
  
        transition: filter 0.2s;
        &:hover {
          filter: brightness(0.8);
        }
      }
  
      a + a {
        padding-left: 10px;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .aboutContent {
    display: flex;
    flex-direction: row;
    .left {
      .second-image {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1019px) {  
  .aboutContent {
    display: flex;
    flex-direction: column-reverse;
    .left {
      margin-top: 10%;
      width: 100%;
      height: 100%;
      .second-image {
        height: 100%;
        background: url("/about_mobile.jpg") bottom center/cover;
      }
    }
    
    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 15%;
      padding-left: 100px;
      
      h1 {
        font-size: 30px;
      }

      span {
        font-size: 16px;
      }

      span + span {
        padding-top: 50px;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .aboutContent {
    .right {
      width: 110%;
      padding-left: 50px;
      padding-top: 50px;

      h2 {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .aboutContent {
    .right {
      width: 118%;
      padding-top: 50px;

      h2 {
        font-size: 25px;
      }
      span.information {
        font-size: 20px;
      }
    }
  }
}
