.homeContent {
  width: 100vw;
  display: flex;
  flex-direction: row;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
  
    h1 {
      font-size: 50px;
    }
  
    span {
      font-size: 18px;
    }
  
    span + span {
      padding-top: 100px;
    }
  }
  
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: var(--green-500);
  
    .first-image {
      width: 70%;
      height: calc(100vh - 150px);
      border-radius: 50% 50% 0 0;
      background: url("/home.jpg") top center/cover;
      margin-bottom: 0;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
      -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
      box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
    }
  }
}

@media only screen and (max-width: 1440px) {
  .homeContent {
    .left {  
      h1 {
        font-size: 36px;
      }
    
      span {
        font-size: 18px;
      }

      span + span {
        width: 80%;
      }
    }

    .right {
      .first-image {
        width: 100%;
        height: 100%;
        border-radius: 0;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1019px) {
  .homeContent {
    display: flex;
    flex-direction: column;
    padding-top: 10%;

    .left {
      width: 100%;
      margin-top: 15%;
      height: 50%;
      span + span {
        padding-top: 25px;
      }
    }

    .right {
      width: 100%;
      height: 75%;
      margin-top: 10%;

      .first-image {
        background: url("/home_mobile.jpg") top center/cover;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .homeContent {
    width: 100%;
    
    .left {
      padding-left: 50px;
    }
  }
}

@media only screen and (max-width: 414px) {
  .homeContent {    
    .left {
      h1 {
        font-size: 25px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}
