.blog {
  padding: 120px 0;
  @media(max-width:950px) {
    padding: 25% 20px;
  }
  h1 {
    padding: 20px 0;
    font-size: 50px;
    color: var(--pink-500);
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    li {
      list-style: none
    }
  }
}

@media (max-width: 1440px) {
  .blog {
    h1 {
      padding: 20px 0;
      font-size: 36px;
      color: var(--pink-500);
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      li {
        list-style: none
      }
    }
  }
}


@media (max-width: 750px) {
  .blog {
    ul {
      display: grid;
      grid-template-columns: 1fr;
      li {
        list-style: none
      }
    }
  }
}