.footer {
  width: 100%;
  background: var(--green-500);
  display: flex;
  flex-direction: column;
  align-items: space-around;
  
  .principal {
    color: var(--white);
    padding: 30px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .social {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 100px;
      img {
        height: 150px;
        width: 180px;
        margin-bottom: 15px;
      }
      .buttons {
        margin-top: 30px;
        display: flex;
    
        a {
          svg {
            height: 30px;
            width: 30px;
          }
    
          transition: filter 0.2s;
          &:hover {
            filter: brightness(0.8);
          }
        }
    
        a + a {
          padding-left: 10px;
          align-items: center;
        }
      }
    }

    .menus {
      display: flex;
      flex-direction: column;

      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          padding: 5px 0;
        }
      }

    }  
    
    .contact {
      text-align: right;
      padding-right: 100px;
      h4 {
        font-size: 25px;
        padding-bottom: 20px;
      }

      p {
        padding-bottom: 5px;
      }

      button {
        margin-top: 30px;
        padding: 8px 40px;
        background-color: var(--white);
        border: transparent;
        border-radius: 50px;
        color: var(--pink-500);
        font-size: 16px;
        font-weight: 800;
    
        transition: 0.2s;
        &:hover {
          background-color: var(--pink-500);
          color: var(--white);
        }
      }
    }
  }

  .rights {
    color: var(--white);
    font-size: 13px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    .principal {
      padding: 30px 0 30px 50px;
      .social {
        display: none;
      }

      .contact {
        padding-right: 50px;
      }

      .menus {
        .links {
          display: flex;
          align-items: flex-start;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .footer {
    .principal {      
      padding: 25px 50px;
      .contact {
        display: none;
      }
    }
    
    .rights {
      text-align: left;
      padding-left: 50px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .footer {
    .principal {
      padding-left: 50px;
      .contact {
        display: none;
      }
    }
    
    .rights {
      text-align: left;
      padding-left: 50px;
    }
  }
}
